
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.soru, .soruDetay {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.soru input[type="text"] {
    width: calc(100% - 60px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: block;
    font-size: 16px;
}

.soruListesi, #soruŞıklar {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.question-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.question-item button {
    margin-left: 5px;
}

.question-item ul {
    display: none;
}

.baslangic-kutu {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 30px auto 0;
    border-radius: 10px;
    padding: 30px;
}

span[onclick^="soruDetayaGit"] {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}
