body {
    background-color: #001F3F; 
    color: #FFFFFF; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

table {
    width: 80%; 
    margin: 20px 0; 
    border-collapse: collapse; 
    background-color: rgba(255, 255, 255, 0.1); 
}

th, td {
    border: 1px solid #FFFFFF; 
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #FFFFFF;
}

form {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px; 
    width: 80%;
}

input[type="text"],
input[type="number"],
select {
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #FFFFFF; /* Beyaz kenarlık */
    border-radius: 5px; 
}

button {
    background-color: #007BFF; 
    color: #FFFFFF; 
    border: none; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
    width: 100%; 
}

button:hover {
    background-color: #0056b3; 
}

a.button {
    background-color: #FF4136;
    color: #FFFFFF; 
    padding: 10px 20px;
    border-radius: 5px; 
    text-decoration: none; 
}

a.button:hover {
    background-color: #FF0000; 
}
